{% extends base_template_path %}
{% block content %}
<div id="body" class="container padded">
    <h4>Enter a city and country:</h4>
    <div class="row">
        <div class="col">
            <input id="search" type="search" placeholder="Enter a city, region, country ..." class="form-control" autocapitalize="words" autocomplete="off"/>
        </div>
        <div class="btn-group text-center">
            <button class="btn btn-primary" type="button" onclick="searchCity('weather')">Search</button>
        </div>
    </div>
</div>
<div id="error">
</div>
<div id="result" class="padded text-center">
</div>
<script src="index.js"></script>
{% endblock %}